@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="wrapper">
    
        <h1 class="display-4"> Student Form</h1>

        <form action="form.php" method="get">

        

            <div>
                <label class="desc" id="title1" for="Field1">Full Name</label>
                <div>
                    <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
                </div>
            </div>

            <div>
                <label class="desc" id="title3" for="Field3">
                    Email
                </label>
                <div>
                    <input id="Field3" name="Field3" type="email" spellcheck="false" value="" maxlength="255" tabindex="3">
                </div>
            </div>


            <div>
                <fieldset>

                    <legend id="title5" class="desc">
                        Select Gender
                    </legend>

                    <div>
                        <input id="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input id="Field5_0" name="Field5" type="radio" value="Male" tabindex="5" checked="checked">
                            <label class="choice" for="Field5_0">Male</label>
                        </div>
                        <div>
                            <input id="Field5_1" name="Field5" type="radio" value="Female" tabindex="6">
                            <label class="choice" for="Field5_1">Female</label>
                        </div>
                        
                    </div>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend id="title6" class="desc">
                        Check Unit
                    </legend>
                    <div>
                        <div>
                            <input id="Field6" name="Field6" type="checkbox" value="First Choice" tabindex="8">
                            <label class="choice" for="Field6">Strategic Management</label>
                        </div>
                        <div>
                            <input id="Field7" name="Field7" type="checkbox" value="Second Choice" tabindex="9">
                            <label class="choice" for="Field7">Cloud Computing </label>
                        </div>
                        <div>
                            <input id="Field8" name="Field8" type="checkbox" value="Third Choice" tabindex="10">
                            <label class="choice" for="Field8">Mobile Application</label>
                            </span>
                        </div>
                </fieldset>
            </div>

            <div>
                <label class="desc" id="title106" for="Field106">
                    Select Year
                </label>
                <div>
                    <select id="Field106" name="Field106" class="field select medium" tabindex="11">
                        <option value="First Choice">First Year</option>
                        <option value="Second Choice">Second Year</option>
                        <option value="Third Choice">Third Year</option>
                        <option value="Four Choice">Four Year</option>
                    </select>
                </div>
            </div>

            <div>
                <div>
                    <input id="saveForm" name="saveForm" type="submit" value="Submit">
                </div>
            </div>

        </form>
    </div>

</div>




